* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: white;
}

.logo img {
    height: 40px;

}

#menu {
    list-style-type: none;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
    margin: 0;
    padding-right: 450px;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a.active {
    color: #1E90FF;
    font-weight: bold;

}

nav ul li a.active:hover {
    color: #038e43;
}

.button a {
    text-decoration: none;
    background: #28a745;
    color: white;
    padding: 10px 20px;
}
section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.content {
    max-width: 50%;
    margin-left: 200px;
}

h1 {
    font-size: 75px;
    margin-bottom: 20px;
}

h1 span {
    color: #28a745;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #2a2b2c;
    width: 520px;
}
.links{
    font-size: 10px;
    font-weight: bold;

}
.links a {
    text-decoration: none;
    color: #10499d;
    margin-right: 20px;
}
.links a:hover{
    color: #038e43;

}

.image img {
    max-width: 100%;
    border-radius: 20px;
}
#video{
    /* width: 50%; */
    margin-left: 400px;
    height: 500px;
    width: 1000px;
}